/elpa
/backups
/auto-save-list
/.places
/.backups
/.ido.last
/.bookmarks.el
/projectile.cache
/projectile-bookmarks.eld
/srecode-map.el
/ac-comphist.dat
/site-lisp/feature-mode/snippets/feature-mode/and
/site-lisp/feature-mode/snippets/
/site-lisp/feature-mode/CONTRIBUTORS
/TAGS
*.elc
/etc/
/tramp
